body {
  margin: 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: cornflowerblue;
  padding: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;

  @media (max-width: 600px) {
    nav {
      flex-direction: column;
    }
  }
}